
.headerPage{
    display: flex;
    height: 10rem;
    background-color:#ffffff;
    justify-content: center;  
    box-sizing: border-box; 
}
img{
    margin: auto;
    width: auto;
    height:100%;
}
.contentPage{
    background-color: #e6e6e6;
    border-top: 5px solid #102e74;
    border-bottom: 5px solid #102e74;
}
h1{
    margin: 1em 0;
    padding: 2em 1em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #113587;
    background: #d8dbe2;
    width: auto;

}

.linkSites{

    text-align: center;
    width:50%;
    margin: 1em auto;
    padding: 1em;
    font-size: 2em;
    color: #eeeeee;
    transition: .5s;
    border: 1px solid #000;
    border-radius: 10px;
    background:#113587;
}
.linkSites:hover{
    color:#102e74;
    background: #e6e6e6;
}
footer{

    background-color: rgba(#fff,0.96);
    padding: 1em;
    margin: 1em;
    text-align: center;
    font-size: 1em;  
}
@media only screen and (max-width: 600px) {
    .linkSites{
        width:70%;
    }
}